
.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 1280px;
}
